* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}
:root {
  --Cyan: hsl(178, 100%, 50%);
  --Soft-blue: hsl(215, 51%, 70%);
  --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --White: hsl(0, 0%, 100%);
}
body {
  background-color: var(--Very-dark-blue-main-BG);
  display: grid;
  font-family: "Outfit", Helvetica, sans-serif;
  font-size: 18px;
  height: 100vh;
  place-content: center;
}
.nft-card{
  background-color: var(--Very-dark-blue-card-BG);
  border-radius: 0.8rem;
  max-width: 350px;
  padding: 25px;
}
.nft-image img{
  border-radius: 0.5rem;
}
.nft-image{
  position: relative;
}
.svg-view-container{
  background-color: hsl(178, 100%, 50%, 50%);
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.svg-view-container img{
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.svg-view-container:hover{
  opacity: 1;
  cursor: pointer;
  border-radius: 0.8rem;
}
.nft-card h1{
  color: var(--White);
  font-family: 'Outfit';
  font-size: 23px;
  font-weight: 400;
}
.description{
  color: var(--Soft-blue);
  font-weight: 300;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
