* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}
:root {
  --Cyan: hsl(178, 100%, 50%);
  --Soft-blue: hsl(215, 51%, 70%);
  --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --White: hsl(0, 0%, 100%);
}
body {
  background-color: var(--Very-dark-blue-main-BG);
  display: grid;
  font-family: "Outfit", Helvetica, sans-serif;
  font-size: 18px;
  height: 100vh;
  place-content: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
